@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">*/
.App {
    text-align: center;
    
}
body {

    font-family:Open Sans;
    color:#343434;
    font-weight: 100;
}
#mainPage {
     background-color: #FAFAFA;
}
h2{
    font-family: Open Sans
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#header {
    padding-top: 2em;
    padding-bottom: 3em;

}

#welcomePage {
    margin-top: 20%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
#welcome {
    margin-right: 10%;
    margin-left: 10%;
}


table, tbody{
    border-radius: 10px;
    margin: 3px;
    width: 90%;
    color: #4D4D4D;
}

th {
    text-align: center;
    padding : 15px;
}

ul {
    margin: auto;
}

th td {
    padding : 5px;
}

.textcenter {
    text-align: center;
    margin: auto;
}


.Select-Header {
    position: fixed;
    top:0;
    left: 50%;
    margin-left: -25.5%;
    color:gray;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 100;
}

.Select-Input {
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 30%;
        font-size: 20px;
/*        background-color: none;
        border: 2px solid;*/

}
.prev {
    position: fixed;
    top:1%;
    left: 10%;
    margin-left: -5%;
    color:gray;
    font-size: 30px;
    padding-bottom: 10px;
}

#primaryButton {
    background-color: rgb(28, 197, 67);
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    margin: auto;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.Select-checkbox {
 
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}


.location{
    position: fixed;
    top:10px;
    left: 60%;
    margin-left: -25.5%;
    color:gray;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 100;
    font-family: OpenSans-Semibold;
    font-size: 18px;
    color: #626262;
    letter-spacing: 0.36px;
}
.Hamburger {
    position: fixed;
    top:10px;
    left: 30%;
    margin-left: -25.5%;
    color:gray;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 100;
}
.Setting {
    position: fixed;
    top:10px;
    right: 10%;
    margin-left: -25.5%;
    color:gray;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 100;
}
#image1{
    text-align: center;
    margin-top: 10%;
    height: 100%;
    width: 100%;
}

#weather {
    background-color: white;
    margin-top: 10%;
    margin-left: 0;
    width: 90%;
    height: 100px;
    border:1px solid #E7E7E7;
}

#futureDays {
    /* Future 3 Days: */
    font-family: OpenSans-Semibold;
    font-size: 12px;
    color: #4D4D4D;
    letter-spacing: 0.24px;
    margin-top: 20%;
    margin-bottom: 5%;
}

#date1 {
    /* Mar 10: */
    position:fixed;
    top:13%;
    font-family: OpenSans-Semibold;
    font-size: 20px;
    color: #626262;
    letter-spacing: 0.28px;
    margin-bottom:5%;
}
#date2 {
    position:fixed;
    top:14%;
    left:43%;
    font-family: OpenSans-Semibold;
    font-size: 14px;
    color: #626262;
    letter-spacing: 0.4px;
}
#date3 {
    position:fixed;
    top:14%;
    left:77%;
    font-family: OpenSans-Semibold;
    font-size: 14px;
    color: #626262;
    letter-spacing: 0.28px;
}
.displace {
    margin-top: 25%;
    font-family: OpenSans-Semibold;
    font-size: 12px;
    color: #4D4D4D;
    letter-spacing: 0.24px;

}

#line {
    position: absolute;
    top:9%;
    left: 30%;
    width: 30px;
    height: 47px;
    border-bottom: 1px solid #D0D0D0;   
}
#line2 {
    position: absolute;
    top:9%;
    left: 63%;
    width: 30px;
    height: 47px;
    border-bottom: 1px solid #D0D0D0;   
}


#recentstatus {
    background-color: white;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 15%;
    width: 90%;
    height: 100px;
    border:1px solid #E7E7E7;
 
}

li {
    list-style: square;
    color:#17C543;
}
li p {
    color: #4D4D4D;
}

svg {

    border: 1px solid white;
    border-radius: 6px;
    background-color: #fff;
}


#label1{
    padding:5px;
    border:0.05px solid #d9d9d9;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    cursor:pointer;
    z-index:90;
    /*position:absolute;*/
    /*top:2%;*/
    /*left:7%;*/
    margin: auto;
    background-color: white;
}
#label2{
    padding:5px;
    border:0.05px solid #d9d9d9;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    cursor:pointer;
    z-index:90;
    /*position:absolute;*/
    /*top:2%;*/
    /*left: 16.6%;*/
    margin: auto;
    background-color: white;
}
#dataset1 {
    color: green;
}
/*label: active {*/
    /*background-color: green;*/
/*}*/
/*label: focus {*/
    /*background-color: white;*/
/*}*/

