.App {
    text-align: center;
}

body {

    font-family:Open Sans;
    color:#343434;
    font-weight: 100;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;

    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#header {
    padding-top: 2em;
    padding-bottom: 3em;
    /*text-align: center;*/
}

#welcomePage {
    margin-top: 20%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
#welcome {
    margin-right: 10%;
    margin-left: 10%;
}

table, tbody{
    /*border: 1px solid darkgray;*/
    border-radius: 10px;
    margin: 3px;
    width: 90%
}

th {
    text-align: center;
    padding : 15px;
}

th td {
    padding : 5px;
}

.textcenter {
    text-align: center;
    margin: auto;
}


.Select-Header {
    position: fixed;
    top:0;
    left: 50%;
    margin-left: -25.5%;
    color:gray;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 100;
}

.Select-Input {
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 30%;
        font-size: 20px;
/*        background-color: none;
        border: 2px solid;*/

}
.prev {
    position: fixed;
    top:1%;
    left: 10%;
    margin-left: -5%;
    color:gray;
    font-size: 30px;
    padding-bottom: 10px;
}


#primaryButton {
    background-color: rgb(28, 197, 67);
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    margin-top: 500px;
    margin: auto;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

#image1{
    text-align: center;
    margin-top: 10%;
    height: 100%;
    width: 100%;
}
