.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;

    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#header {
    padding-top: 2em;
    padding-bottom: 3em;
    /*text-align: center;*/
}
/* StartPage*/
/*Welcome to CSF Wate Deficit Calculator!*/
#id1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

/*CreateField.js*/
/*CreateField div*/
#div1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

/*Create a field - step 1*/
#id2 {
    margin-bottom: 50px;
}

/*"Ithaca, NY"*/
#input1 {
    margin-bottom: 250px;
}

/*Create a field - step 2*/
#id4 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
/*Where is the soil water capacity of your field?*/
#id5 {
    margin-top: auto;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

/*water capacity options*/
#form1 {
    margin-left: 170px;
    font-size: 20px;
    margin-bottom: 140px;
}

/*Create a fild - step 3*/
#div3 {
    margin-top: 10px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

/*What is your crop*/
#id6 {
    text-align: center;
    margin-bottom: 30px;
}

/*crop options*/
#form2 {
    margin-left: 190px;
    font-size: 20px;
    margin-bottom: 80px;
}

/*Create a field - step 4*/
#id7 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 90px;
}

/*What was your last irrigation?*/
#id8 {
    text-align: center;
}

/*mm/dd/yyyy*/
#form3 {
    margin-left: 130px;
    font-size: 15px;
    margin-bottom: 210px;
}

table, tbody{
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 3px;
}

th {
    text-align: center;
    padding : 15px;
}

th td {
    padding : 5px;
}

.textcenter {
    text-align: center;
    margin: auto;
}

/*ul {*/
    /*overflow: scroll;*/
    /*height: 300px;*/
/*}*/

#primaryButton {
    background-color: rgb(28, 197, 67);
    color: white;
    width: 40%;
    margin-top: 500px;
    margin: auto;

}

#image1{
    text-align: center;
    margin-left: 130px;
    /*    margin-right: auto;
        margin-left: auto; */
    margin-bottom: 180px;
    height: 55%;
    width: 55%;

}
